apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ machineset.infrastructure_id }}
{% if cloud_provider == 'ec2' %}
  name: {{ machineset.infrastructure_id }}-{{ machineset.name_identifier }}-{{ machineset.region }}{{ zone_suffix }}
{% elif cloud_provider == 'vcenter' %}
  name: {{ machineset.infrastructure_id }}-{{ machineset.name_identifier }}
{% endif %}
  namespace: openshift-machine-api
spec:
  replicas: {{ machineset.infra_node_replicas }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ machineset.infrastructure_id }}
{% if cloud_provider == 'ec2' %}
      machine.openshift.io/cluster-api-machineset: {{ machineset.infrastructure_id }}-{{ machineset.node_labels.0 }}-{{ machineset.region }}{{ zone_suffix }}
{% elif cloud_provider == 'vcenter' %}
      machine.openshift.io/cluster-api-machineset: {{ machineset.infrastructure_id }}-{{ machineset.node_labels.0 }}
{% endif %}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ machineset.infrastructure_id }}
        machine.openshift.io/cluster-api-machine-role: {{ machineset.node_labels.0 }}
        machine.openshift.io/cluster-api-machine-type: {{ machineset.node_labels.0 }}
{% if cloud_provider == 'ec2' %}
        machine.openshift.io/cluster-api-machineset: {{ machineset.infrastructure_id }}-{{ machineset.node_labels.0 }}-{{ machineset.region }}{{ zone_suffix }}
{% elif cloud_provider == 'vcenter' %}
        machine.openshift.io/cluster-api-machineset: {{ machineset.infrastructure_id }}-{{ machineset.node_labels.0 }}
{% endif %}
    spec:
      metadata:
        labels:
{% for label in machineset.node_labels %}
          node-role.kubernetes.io/{{ label }}: ""
{% if ceph_namespace is defined  %}
          cluster.ocs.openshift.io/openshift-storage: ""
{% endif %}
{% endfor %}
      providerSpec:
        value:
{% if cloud_provider == 'ec2' %}
          ami:
            id: {{ machineset.aws_ami }}
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
            - ebs:
                iops: 0
                volumeSize: {{ machineset.disk_size }}
                volumeType: gp2
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ machineset.infrastructure_id }}-worker-profile
          instanceType: {{ machineset.instance_type }}
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: {{ machineset.region }}a
            region: {{ machineset.region }}
          securityGroups:
            - filters:
                - name: tag:Name
                  values:
                    - {{ machineset.infrastructure_id }}-worker-sg
          subnet:
            filters:
              - name: tag:Name
                values:
                  - {{ machineset.infrastructure_id }}-private-{{ machineset.region }}a
          tags:
            - name: kubernetes.io/cluster/{{ machineset.infrastructure_id }}
              value: owned
{% elif cloud_provider == 'vcenter' %}
          apiVersion: vsphereprovider.openshift.io/v1beta1
          credentialsSecret:
            name: vsphere-cloud-credentials
          diskGiB: 120
          kind: VSphereMachineProviderSpec
          memoryMiB: 8192
          metadata:
            creationTimestamp: null
          network:
            devices:
              - networkName: "{{ vcenter_network }}"
          numCPUs: 4
          numCoresPerSocket: 1
          snapshot: ""
          template: "{{ machineset.infrastructure_id }}-rhcos"
          workspace:
            datacenter: "{{ vcenter_datacenter }}"
            datastore: "{{ vcenter_datastore }}"
            folder: "/{{ vcenter_datacenter }}/vm/{{ vcenter_folder }}"
            # resourcepool: <vsphere_resource_pool>
            server: "{{ vcenter_hostname }}"
{% endif %}
          userDataSecret:
            name: worker-user-data
{% if machineset.taints is defined %}
      taints: {{ machineset.taints | to_json }}
{% endif %}
{#
{% if ceph_namespace is defined  %}
      taints:
        - effect: NoSchedule
          key: node.ocs.openshift.io/storage
          value: 'true'
{% endif %}
#}

